* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr ;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "nav header"
    "nav article";
}

/* HEADER */
.header {
    grid-area: header;
    background-color: green;
}

/* NAV */
.nav {
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-area: nav;
    min-width: 300px;
    background-color: blue;    
}

.nav h1 {
    padding-top: 20px;
    color: white;
}

.nav ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    display: block;
    color: white;
}

.head-icon {
    font-size: 40px;
}

.icon {
    margin-left: 30px;
    margin-right: 30px;
}

.gap {
    margin-top: 50px;
}

/* ARTICLE */
.article {
    grid-area: article;
    background-color: pink;
}



