* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr ;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "nav header"
    "nav article";
}

.header {
    grid-area: header;
    background-color: green;
}

.nav {
    grid-area: nav;
    background-color: blue;
}

.article {
    grid-area: article;
    background-color: pink;
}

.sidebar {
    grid-area: sidebar;
    background-color: antiquewhite;
}

